#### **Importing Libraries and Dataset**

In [1]:
import pandas as pd

In [3]:
import os

raw_data_source_path: str = os.path.abspath("../data/raw/spam.csv")

raw_dataframe: pd.DataFrame = pd.read_csv(raw_data_source_path)

#### **Data Exploration**

In [6]:
raw_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
display(raw_dataframe.head())

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

**Missing Values**

In [9]:
raw_dataframe.isnull().sum()

Category    0
Message     0
dtype: int64

Data is complete without any missing values, data cleaning is unneeded.

**Sum of Categories**

In [13]:
raw_dataframe['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64